[workspace]
members = [
    "rabbit-hole",
    "lib/*/*",
    "apps/*/*",
    "tests/*",
]

[workspace.dependencies]
curve25519-dalek = "^3"
ff = "^0.13"
group = "^0.13"
heapless = "^0.7"
rand = "^0.8"
subtle = "^2.5"
thiserror = "^1"
zeroize = "^1.6"

k256 = {version = "^0.13", default-features = false, features = ["arithmetic"]}
curve25519 = {git = "https://github.com/str4d/curve25519-dalek.git", package = "curve25519-dalek", branch = "ff", default-features = false, features = ["group"]}

csi-rashi-dkg = {path = "lib/crypto-primitives/csi-rashi-dkg", package = "rabbit-hole-csi-rashi-dkg"}
feldman-vsss = {path = "lib/crypto-primitives/feldman-vsss", package = "rabbit-hole-feldman-vsss"}
schnorr-proof = {path = "lib/crypto-primitives/schnorr-proof", package = "rabbit-hole-schnorr-proof"}
shamir-sss = {path = "lib/crypto-primitives/shamir-sss", package = "rabbit-hole-shamir-sss"}
